/OpeningServer/.vs/OpeningServer/DesignTimeBuild/.dtbcache
/OpeningServer/.vs/OpeningServer/v15/.suo
/OpeningServer/.vs/OpeningServer/v15/Server/sqlite3/db.lock
/OpeningServer/.vs/OpeningServer/v15/Server/sqlite3/storage.ide
/OpeningServer/.vs/OpeningServer/v15/Server/sqlite3/storage.ide-shm
/OpeningServer/.vs/OpeningServer/v15/Server/sqlite3/storage.ide-wal
/OpeningServer/Contracts/bin/Debug/netcoreapp2.2/Contracts.deps.json
/OpeningServer/Contracts/bin/Debug/netcoreapp2.2/Contracts.dll
/OpeningServer/Contracts/bin/Debug/netcoreapp2.2/Contracts.pdb
/OpeningServer/Contracts/obj/Contracts.csproj.nuget.cache
/OpeningServer/Contracts/obj/Contracts.csproj.nuget.g.props
/OpeningServer/Contracts/obj/Contracts.csproj.nuget.g.targets
/OpeningServer/Contracts/obj/Debug/netcoreapp2.2/Contracts.AssemblyInfo.cs
/OpeningServer/Contracts/obj/Debug/netcoreapp2.2/Contracts.AssemblyInfoInputs.cache
/OpeningServer/Contracts/obj/Debug/netcoreapp2.2/Contracts.assets.cache
/OpeningServer/Contracts/obj/Debug/netcoreapp2.2/Contracts.csproj.CoreCompileInputs.cache
/OpeningServer/Contracts/obj/Debug/netcoreapp2.2/Contracts.csproj.FileListAbsolute.txt
/OpeningServer/Contracts/obj/Debug/netcoreapp2.2/Contracts.csprojAssemblyReference.cache
/OpeningServer/Contracts/obj/Debug/netcoreapp2.2/Contracts.dll
/OpeningServer/Contracts/obj/Debug/netcoreapp2.2/Contracts.pdb
/OpeningServer/Contracts/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/OpeningServer/Contracts/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/OpeningServer/Contracts/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/OpeningServer/Contracts/obj/project.assets.json
/OpeningServer/Repository/bin/Debug/netcoreapp2.2/Contracts.dll
/OpeningServer/Repository/bin/Debug/netcoreapp2.2/Contracts.pdb
/OpeningServer/Repository/bin/Debug/netcoreapp2.2/Entities.dll
/OpeningServer/Repository/bin/Debug/netcoreapp2.2/Entities.pdb
/OpeningServer/Repository/bin/Debug/netcoreapp2.2/Repository.deps.json
/OpeningServer/Repository/bin/Debug/netcoreapp2.2/Repository.dll
/OpeningServer/Repository/bin/Debug/netcoreapp2.2/Repository.pdb
/OpeningServer/Repository/obj/Debug/netcoreapp2.2/Repository.AssemblyInfo.cs
/OpeningServer/Repository/obj/Debug/netcoreapp2.2/Repository.AssemblyInfoInputs.cache
/OpeningServer/Repository/obj/Debug/netcoreapp2.2/Repository.assets.cache
/OpeningServer/Repository/obj/Debug/netcoreapp2.2/Repository.csproj.CopyComplete
/OpeningServer/Repository/obj/Debug/netcoreapp2.2/Repository.csproj.CoreCompileInputs.cache
/OpeningServer/Repository/obj/Debug/netcoreapp2.2/Repository.csproj.FileListAbsolute.txt
/OpeningServer/Repository/obj/Debug/netcoreapp2.2/Repository.csprojAssemblyReference.cache
/OpeningServer/Repository/obj/Debug/netcoreapp2.2/Repository.dll
/OpeningServer/Repository/obj/Debug/netcoreapp2.2/Repository.pdb
/OpeningServer/Repository/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/OpeningServer/Repository/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/OpeningServer/Repository/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/OpeningServer/Repository/obj/Repository.csproj.nuget.cache
/OpeningServer/Repository/obj/Repository.csproj.nuget.g.props
/OpeningServer/Repository/obj/Repository.csproj.nuget.g.targets
/OpeningServer/Repository/obj/project.assets.json
/OpeningServer/Entities/bin/Debug/netcoreapp2.2/Entities.deps.json
/OpeningServer/Entities/bin/Debug/netcoreapp2.2/Entities.dll
/OpeningServer/Entities/bin/Debug/netcoreapp2.2/Entities.pdb
/OpeningServer/Entities/bin/Debug/netcoreapp2.2/Microsoft.EntityFrameworkCore.dll
/OpeningServer/Entities/bin/Debug/netcoreapp2.2/Microsoft.EntityFrameworkCore.xml
/OpeningServer/Entities/obj/Debug/netcoreapp2.2/Entities.AssemblyInfo.cs
/OpeningServer/Entities/obj/Debug/netcoreapp2.2/Entities.AssemblyInfoInputs.cache
/OpeningServer/Entities/obj/Debug/netcoreapp2.2/Entities.assets.cache
/OpeningServer/Entities/obj/Debug/netcoreapp2.2/Entities.csproj.CopyComplete
/OpeningServer/Entities/obj/Debug/netcoreapp2.2/Entities.csproj.CoreCompileInputs.cache
/OpeningServer/Entities/obj/Debug/netcoreapp2.2/Entities.csproj.FileListAbsolute.txt
/OpeningServer/Entities/obj/Debug/netcoreapp2.2/Entities.csprojAssemblyReference.cache
/OpeningServer/Entities/obj/Debug/netcoreapp2.2/Entities.dll
/OpeningServer/Entities/obj/Debug/netcoreapp2.2/Entities.pdb
/OpeningServer/Entities/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/OpeningServer/Entities/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/OpeningServer/Entities/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/OpeningServer/Entities/obj/Entities.csproj.nuget.cache
/OpeningServer/Entities/obj/Entities.csproj.nuget.g.props
/OpeningServer/Entities/obj/Entities.csproj.nuget.g.targets
/OpeningServer/Entities/obj/project.assets.json
/OpeningServer/OpeningServer/bin/Debug/netcoreapp2.2/Entities.dll
/OpeningServer/OpeningServer/bin/Debug/netcoreapp2.2/Entities.pdb
/OpeningServer/OpeningServer/bin/Debug/netcoreapp2.2/OpeningServer.deps.json
/OpeningServer/OpeningServer/bin/Debug/netcoreapp2.2/OpeningServer.dll
/OpeningServer/OpeningServer/bin/Debug/netcoreapp2.2/OpeningServer.pdb
/OpeningServer/OpeningServer/bin/Debug/netcoreapp2.2/OpeningServer.runtimeconfig.dev.json
/OpeningServer/OpeningServer/bin/Debug/netcoreapp2.2/OpeningServer.runtimeconfig.json
/OpeningServer/OpeningServer/obj/Debug/netcoreapp2.2/OpeningServer.AssemblyInfo.cs
/OpeningServer/OpeningServer/obj/Debug/netcoreapp2.2/OpeningServer.AssemblyInfoInputs.cache
/OpeningServer/OpeningServer/obj/Debug/netcoreapp2.2/OpeningServer.RazorAssemblyInfo.cache
/OpeningServer/OpeningServer/obj/Debug/netcoreapp2.2/OpeningServer.RazorAssemblyInfo.cs
/OpeningServer/OpeningServer/obj/Debug/netcoreapp2.2/OpeningServer.RazorTargetAssemblyInfo.cache
/OpeningServer/OpeningServer/obj/Debug/netcoreapp2.2/OpeningServer.assets.cache
/OpeningServer/OpeningServer/obj/Debug/netcoreapp2.2/OpeningServer.csproj.CopyComplete
/OpeningServer/OpeningServer/obj/Debug/netcoreapp2.2/OpeningServer.csproj.CoreCompileInputs.cache
/OpeningServer/OpeningServer/obj/Debug/netcoreapp2.2/OpeningServer.csproj.FileListAbsolute.txt
/OpeningServer/OpeningServer/obj/Debug/netcoreapp2.2/OpeningServer.csprojAssemblyReference.cache
/OpeningServer/OpeningServer/obj/Debug/netcoreapp2.2/OpeningServer.dll
/OpeningServer/OpeningServer/obj/Debug/netcoreapp2.2/OpeningServer.pdb
/OpeningServer/OpeningServer/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/OpeningServer/OpeningServer/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/OpeningServer/OpeningServer/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/OpeningServer/OpeningServer/obj/OpeningServer.csproj.nuget.cache
/OpeningServer/OpeningServer/obj/OpeningServer.csproj.nuget.g.props
/OpeningServer/OpeningServer/obj/OpeningServer.csproj.nuget.g.targets
/OpeningServer/OpeningServer/obj/project.assets.json
/OpeningServer/Contracts/obj
/OpeningServer/Contracts/bin
/OpeningServer/.vs/OpeningServer/v16/.suo
/OpeningServer/.vs/OpeningServer/v16/Server/sqlite3/db.lock
/OpeningServer/.vs/OpeningServer/v16/Server/sqlite3/storage.ide
/OpeningServer/Entities/obj/Entities.csproj.nuget.dgspec.json
/OpeningServer/Repository/obj/Repository.csproj.nuget.dgspec.json
/OpeningServer/Contracts/bin/Debug/netcoreapp2.2/Entities.dll
/OpeningServer/Contracts/bin/Debug/netcoreapp2.2/Entities.pdb
/OpeningServer/Contracts/bin/Debug/netcoreapp2.2/Microsoft.EntityFrameworkCore.dll
/OpeningServer/Contracts/bin/Debug/netcoreapp2.2/Microsoft.EntityFrameworkCore.xml
/OpeningServer/Contracts/obj/Debug/netcoreapp2.2/Contracts.csproj.CopyComplete
/OpeningServer/OpeningServer/bin/Debug/netcoreapp2.2/Contracts.dll
/OpeningServer/OpeningServer/bin/Debug/netcoreapp2.2/Contracts.pdb
/OpeningServer/OpeningServer/bin/Debug/netcoreapp2.2/Repository.dll
/OpeningServer/OpeningServer/bin/Debug/netcoreapp2.2/Repository.pdb
/OpeningServer/OpeningServer/obj/OpeningServer.csproj.nuget.dgspec.json
/OpeningServer/.vs/config
